Hello admin
<ul>
<li><a href="/admin/show">Show the list</a></li>
<li><a href="/admin/meetings"> Create a meeting</a></li>
</ul>

<h1>Create a new User</h1>
<form id="createNew" >
    <label>Name</label>
    <input id="createName" name="createName" type="text" value="{{createName}}">
    <br>
    <label>Email</label>
    <input id="createEm" name="createEm" type="text" value="{{createEm}}">
    <br>
    <label>Company</label>
    <input id="createC" name="createC" type="text" value="{{createC}}">
    <br>
    <label>Position</label>
    <input id="createP" name="createP" type="text" value="{{createP}}">
    <br>
    <button type="submit">Save</button>
</form>

<div class="log"></div>
