
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand">Участник форума: {{user}} </a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/personalpage">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Список участников</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div id="sample_div">
                        <br><br>
                        {{#each users}}
                            <form class="addEverything" id={{this.id}} action="/new_meet" method="post">
                                <a class="users" href="/dashboard/{{this.id}}"><b>{{this.name}}</b></a>
                                <div class="form-group field-middle_name row">
                                    <div class="col-sm-4 col-md-4 col-xs-4 no-padding">
                                        <input type="text"  class="target form-control" name="prefix_id" id="prefix_id" placeholder="Цель встречи" required="required">
                                        <!--<option value="">Префикс</option>-->
                                        </input>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-xs-4 no-padding">
                                        <input type="date" class="date form-control" id="history" placeholder="Номер" required="required">
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-xs-4 no-padding">
                                        <input class="btnAdd btn btn-secondary btnInvite" type="submit" value="Пригласить на встречу" />
                                    </div>

                                </div>
                                <div class="help-block row"></div>
                            </form>
                        {{/each}}
                    </div>
                </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>