<a href="/users">Назад</a>
<h1>Контактная карточка:</h1>
<div class="row">
    <div class="col-4" style="border-style: double; padding:2px">
Имя: {{list.name}}
<p></p>
Должность: {{list.position}}
<p></p>
Компания: {{list.company}}
<p></p>
Почта: {{list.email}}
<p></p>
</div>