<h2>Digital Aviation Forum</h2>
<h3>12-я международная конференция</h3>
<p>
<br>Говорить о цифровизации сейчас модно. 
<br>Но для воздушного транспорта цифровая трансформация стала насущной необходимостью.
<br>
<br>Для повышения конкурентоспособности и укрепления рыночных позиций требуется переосмыслить на основе новых технологий систему взаимодействия с десятками миллионов пассажиров и внутренние бизнес-процессы всех участников отрасли воздушных перевозок.
</p>
<form action="/users" method="post">
<input type="text">

<ul class="list">
    {{#each users}}
        <li class="list-item col-1-2">
            <a class="users" href="/articles/{{this.id}}">{{this.name}}
            </a>
            <label class="input-group col-1-4">
        <span class="articleInfo">Info:</span>
        <input id="inputInfo" class="infoClass" type="text" name="info" value="{{meeting.ta}}">
    </label>
        </li>
    {{/each}}
</ul>

<button id='history' type="submit">History</button>
</form>